body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}


header {
    background-color: #53b8d7;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}


#user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}


.user-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.user-card h2 {
    margin: 0 0 10px;
}


.user-card p {
    margin: 5px 0;
}
